html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.App {
    min-height: 100vh;
}

#error-page {
    height: 90vh;
    gap: 20px;
    padding: 20px;
    text-align: center;
}
#error-page img {
    width: 100%;
    max-width: 600px;
}

.navbar-brand {
    margin-left: 20px;
    padding-right: 20px;
}
.nav-item {
    margin-left: 20px;
}
nav ul {
    padding-top: 7.2px;
}


video {
    min-width: 100vw;
}
.home {
    z-index: 1;
    position: absolute;
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.2)
}
.home a {
    padding: 10px 20px;
    border-radius: 50px;
    max-width: 400px;
}

.section-title {
    margin: 20px;
    max-width: 800px;
    width: calc(100% - 40px);
}
.next-event {
    width: 100%;
}
.passees {
    margin-top: 100px;
}
.list-events {
    width: 100%;
    gap: 20px;
}
.event {
    max-width: 800px;
    width: calc(100% - 40px);
}
.event .card-header {
    position: absolute;

    width: 100%;
    height: 200px;

    background: linear-gradient(transparent, #222);
    color: white;
}
.event-left {
    height: 100px;
}
.event-right .logo {
    object-fit: contain;
    width: 100px;
    height: 100px;
    mix-blend-mode: multiply;
}
.event-footer {
    gap: 20px;
}
.nb img {
    filter: grayscale(1);
}

.btns-adherent {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}
.register-header {
    position: absolute;
    background: linear-gradient(transparent, #222);
    color: white;
    width: 100%;
    height: 200px;
}
.register-header-infos {
    width: 100%;
    max-width: 800px;
    padding: 20px;
}
.register-form {
    padding: 20px;
    width: 100%;
    max-width: 800px;
}
.form-select {
    height: 58px;
}

footer {
    background-color: #222;
    color: white;
    margin-top: 40px;
    padding: 20px 40px;
    min-height: 10vh;
}
.footer-link {
    text-decoration: none;
    color: white;
}